<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yue.research.mapper.AppMapper">

    <resultMap id="BaseResultMap" type="com.yue.questionnaire.model.entity.App">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="appname" column="appName" jdbcType="VARCHAR"/>
            <result property="appdesc" column="appDesc" jdbcType="VARCHAR"/>
            <result property="appicon" column="appIcon" jdbcType="VARCHAR"/>
            <result property="apptype" column="appType" jdbcType="TINYINT"/>
            <result property="scoringstrategy" column="scoringStrategy" jdbcType="TINYINT"/>
            <result property="reviewstatus" column="reviewStatus" jdbcType="INTEGER"/>
            <result property="reviewmessage" column="reviewMessage" jdbcType="VARCHAR"/>
            <result property="reviewerid" column="reviewerId" jdbcType="BIGINT"/>
            <result property="reviewtime" column="reviewTime" jdbcType="TIMESTAMP"/>
            <result property="userid" column="userId" jdbcType="BIGINT"/>
            <result property="createtime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updatetime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isdelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,appName,appDesc,
        appIcon,appType,scoringStrategy,
        reviewStatus,reviewMessage,reviewerId,
        reviewTime,userId,createTime,
        updateTime,isDelete
    </sql>
</mapper>
