<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yue.research.mapper.ScoringResultMapper">

    <resultMap id="BaseResultMap" type="com.yue.questionnaire.model.entity.ScoringResult">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="resultname" column="resultName" jdbcType="VARCHAR"/>
            <result property="resultdesc" column="resultDesc" jdbcType="VARCHAR"/>
            <result property="resultpicture" column="resultPicture" jdbcType="VARCHAR"/>
            <result property="resultprop" column="resultProp" jdbcType="VARCHAR"/>
            <result property="resultscorerange" column="resultScoreRange" jdbcType="INTEGER"/>
            <result property="appid" column="appId" jdbcType="BIGINT"/>
            <result property="userid" column="userId" jdbcType="BIGINT"/>
            <result property="createtime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updatetime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isdelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,resultName,resultDesc,
        resultPicture,resultProp,resultScoreRange,
        appId,userId,createTime,
        updateTime,isDelete
    </sql>
</mapper>
